@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.main {
  height: 100vh;
  background-color: rgba(121, 33, 33, 0.034);
  backdrop-filter: blur(5px);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 10vh; */
  padding: 15px 0;
}
.container {
  max-width: 1240px;
  margin: auto;
}
.logo-sec {
  display: flex;
  align-items: center;
}
.logo-sec a {
  text-decoration: none;
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
}

.logo-sec a h4 {
  font-family: 'Libre Baskerville';
  font-size: 1.2rem;
  color: #594932;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 10px;
  background-color: #bf965c52;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items a {
  padding: 0 20px;
  text-decoration: none;
  color: rgb(136, 136, 136);
}

.nav-items a h4 {
  font-weight: 300;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.08rem;
  padding: 10px;
}
.nav-form {
  display: flex;
  /* justify-content: center; */
}

.nav-form .sign-btn {
  width: 140px;
  background-color: #c2a883;
  color: white;
  border: none;
  font-size: 0.9rem;
  padding: 10px 5px;
  /* margin-left: 5px; */
  cursor: pointer;
  transition: transform 0.1s ease;
}
.nav-form button:active {
  transform: scale(0.95);
}

.main-home {
  display: grid;
  height: 90vh;
  grid-template-columns: 7fr 9fr;
  padding: 30px 0 40px;
  position: relative;
}
.main-home .star-1 {
  opacity: 0.3;
  width: 120px;
  position: absolute;
  left: 20%;
  transform: rotate(45deg);
  bottom: 30%;
}
.main-home .star-2 {
  width: 100px;
  position: absolute;
  opacity: 0.3;
  left: 7%;
  top: 22%;
  transform: rotate(45deg);
}
.main-home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-size: 3rem; */
}
.main-home .content h1 {
  z-index: 1;
  font-family: 'Libre Baskerville', serif;
  /* width: 120%; */
  color: rgb(107, 68, 0);
  font-size: 6rem;
  font-weight: 900;
  padding: 10px 0;
}

.main-home .content h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: #c2a883;
  font-weight: 300;
  padding-right: 50px;
  padding: 10px 20px 10px 0;
}
.main-home .content button {
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #c2a883;
  color: white;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 20px 0;
  padding: 10px 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.main-home .content button:active {
  transform: scale(0.95);
}
.bg-images {
  background-image: url('images/bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.bg-images .img-1 {
  position: absolute;
  width: 35%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border: rgb(255, 255, 255) 8px solid;
  bottom: -10px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19),
    0 6px 6px rgba(255, 255, 255, 0.23);
  left: -8%;
}

.bg-images .img-2 {
  position: absolute;
  width: 35%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border: rgb(255, 255, 255) 8px solid;
  bottom: -10px;
  left: 50%;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19),
    0 6px 6px rgba(255, 255, 255, 0.23);
  transform: translateX(-50%);
}

.bg-images .img-3 {
  position: absolute;
  width: 35%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border: rgb(255, 255, 255) 8px solid;
  bottom: -10px;
  right: -8%;
}

.about-us {
  background-color: rgba(121, 33, 33, 0.034);
  backdrop-filter: blur(5px);
  padding: 30px 0;
}
.about-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.about-content .content-img {
  padding: 20px;
}

.about-content .content-img img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* padding: 20px; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content .content-rit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content .content-rit h2 {
  font-family: 'Libre Baskerville', serif;
  /* width: 120%; */
  color: rgb(107, 68, 0);
  font-size: 2rem;
  font-weight: 900;
  padding: 10px 0;
}

.about-content .content-rit h5 {
  font-family: 'Roboto', sans-serif;
  /* width: 120%; */
  color: rgb(90, 90, 90);
  font-size: 1.125rem;
  font-weight: 400;
  padding: 10px 0;
}

.about-content .content-rit button {
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #c2a883;
  color: white;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 20px 0;
  padding: 10px 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.about-content .content-rit button:active {
  transform: scale(0.95);
}
/* properties Grid */
.properties-grid {
  background-color: rgb(255, 253, 249);
  padding: 50px 0;
}
.properties-cards h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 3rem;
  color: rgb(151, 111, 9);
  font-weight: 300;
  font-family: 'poppins';
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.cards .card {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cards .card img {
  width: 100%;
}
.cards .card .content {
  padding: 20px;
  font-family: 'poppins';
}
.cards .card .content h3 {
  font-weight: 400;
  font-size: 2rem;
}
.cards .card .content h4 {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 4px 0;
}

.cards .card .content .location {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.cards .card .content .location img {
  width: 30px;
}
.cards .card .content .location p {
  color: gray;
  margin-left: 8px;
  font-weight: 200;
  font-size: 0.85 rem;
}

.cards .card .content .prop-utilities {
  display: flex;
  padding: 5px 0;
}

.cards .card .content .prop-utilities p {
  color: rgb(63, 63, 63);
  margin-right: 20px;
  font-weight: 300;
  font-size: 1rem;
}

.cards .card .content .btns {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.cards .card .content .btns button {
  width: 45%;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #c2a883;
  color: white;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  margin: 10px 0;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.cards .card .content .btns button:active {
  transform: scale(0.95);
}

/* Review section */

.review {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.308),
      rgba(219, 161, 0, 0.555)
    ),
    url('images/review1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 35vh; */
  padding: 50px 30px;
}

.review-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  font-family: 'poppins';
}
.review-content .content-rit {
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.review-content .content-rit h2 {
  font-size: 2.2rem;
  color: white;
  padding: 20px 0 10px;
  text-align: center;
}

.review-content .content-rit h3 {
  font-size: 1.8rem;
  color: gold;
  padding: 5px;
  text-align: center;
}
.review-content .content-rit h3 i {
  padding: 5px;
}

.review-content .content-rit h4 {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
}

/* footer */

footer {
  background-color: #293244;
  color: white;
  font-family: 'poppins';
  padding: 50px 0;
}

.footer-cont {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
.footer-social .logo-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-social .logo-sec a h4 {
  font-family: 'Libre Baskerville';
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #ffffff52;
  margin-bottom: 10px;
}
.footer-social .logo-sec h3 {
  font-size: 1rem;
  font-weight: 300;
  /* padding: 10px 20px 10px; */
}
.footer-social .logo-sec .socials a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  padding: 0 10px;
}

.footer-cont .footer-social .logo-sec .socials a:hover {
  color: rgb(140, 253, 255);
}

.footer-social .logo-sec .socials {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.footer-sec {
  padding-left: 20px;
  text-align: left;
}
.footer-sec h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.footer-sec ul {
  list-style: none;
}
.footer-sec ul li a:hover {
  color: rgb(255, 188, 72);
  text-decoration: none;
}
.footer-sec ul li a {
  color: white;
  text-decoration: none;
}
.footer-sec ul li h5 {
  font-weight: 300;
  font-size: 0.9rem;
}

.footer-end {
  background-color: #1b202a;
}
.footer-end .footer-end-content {
  display: flex;
  justify-content: space-between;
}
.footer-end .footer-end-content h3 {
  color: white;
  font-size: 1rem;
  font-family: 'poppins';
  padding: 6px;
  font-weight: 300;
}

.footer-end .footer-end-content h3 a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 1320px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }
  .logo-sec {
    display: flex;
    align-items: center;
  }
  .logo-sec a {
    text-decoration: none;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
  }

  .logo-sec a h4 {
    font-family: 'Libre Baskerville';
    font-size: 1rem;
    color: #594932;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #bf965c52;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(136, 136, 136);
  }

  .nav-items a h4 {
    font-weight: 300;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 10px 5px;
  }
  .nav-form {
    display: flex;
    /* justify-content: center; */
  }

  /* /////////////////////////// */

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  /* ////////////// */

  .review-content .content-rit h2 {
    font-size: 1.6rem;
  }

  .review-content .content-rit h3 {
    font-size: 1.4rem;
  }
  .review-content .content-rit h3 i {
    padding: 5px;
  }

  .review-content .content-rit h4 {
    font-size: 1.2rem;
  }

  /* /////////// */
  .footer-cont {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}

/* ///////////////////////////////// */

@media (max-width: 1023px) {
  .container {
    max-width: 860px;
    margin: auto;
  }
  .logo-sec {
    display: flex;
    align-items: center;
  }
  .logo-sec a {
    text-decoration: none;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
  }

  .logo-sec a h4 {
    font-size: 1rem;
    color: #594932;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #bf965c52;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(136, 136, 136);
  }

  .nav-items a h4 {
    font-weight: 300;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 10px 5px;
  }
  .nav-form {
    display: flex;
    /* justify-content: center; */
  }

  .nav-form .sign-btn {
    width: 130px;
    font-size: 0.9rem;
    padding: 8px 5px;
  }

  /* /////////////////////////// */

  .main-home {
    display: grid;
    height: 90vh;
    grid-template-columns: 7fr 9fr;
    padding: 30px 0 40px;
    position: relative;
  }
  .main-home .star-1 {
    opacity: 0.3;
    width: 120px;
    position: absolute;
    left: 20%;
    transform: rotate(45deg);
    bottom: 30%;
  }
  .main-home .star-2 {
    width: 100px;
    position: absolute;
    opacity: 0.3;
    left: 7%;
    top: 22%;
    transform: rotate(45deg);
  }
  .main-home .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-home .content h1 {
    color: rgb(107, 68, 0);
    font-size: 3.4rem;
    font-weight: 900;
    padding: 10px 0;
  }

  .main-home .content h5 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 50px;
    padding: 10px 20px 10px 0;
  }
  .main-home .content button {
    width: 200px;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0;
    padding: 10px 10px;
  }

  /* /////////////////////////// */

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  /* ////////////// */

  .review-content .content-rit h2 {
    font-size: 1.6rem;
  }

  .review-content .content-rit h3 {
    font-size: 1.4rem;
  }
  .review-content .content-rit h3 i {
    padding: 5px;
  }

  .review-content .content-rit h4 {
    font-size: 1.2rem;
  }

  /* /////////// */
  .footer-cont {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}

/* ///////////////////////////////// */

@media (max-width: 859px) {
  .container {
    /* max-width: 660px; */
    margin: auto;
    width: 90%;
  }
  .logo-sec {
    display: flex;
    align-items: center;
  }
  .logo-sec a {
    text-decoration: none;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
  }

  .logo-sec a h4 {
    font-size: 1rem;
    color: #594932;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #bf965c52;
  }

  .nav-items {
    display: none;
  }

  /* .nav-items a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(136, 136, 136);
  }

  .nav-items a h4 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 10px 5px;
  } */
  .nav-form {
    display: flex;
    /* justify-content: center; */
  }

  .nav-form .sign-btn {
    width: 130px;
    font-size: 0.9rem;
    padding: 8px 5px;
  }

  /* /////////////////////////// */
  .main {
    height: 520px;
    /* height: fit-content; */
  }
  .main-home {
    height: 460px;
    /* height: max-content; */
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-gap: 10px;
    padding: 30px 0 40px;
    position: relative;
  }
  .main-home .star-1 {
    opacity: 0.3;
    width: 80px;
    position: absolute;
    left: 20%;
    transform: rotate(45deg);
    bottom: 10%;
  }
  .main-home .star-2 {
    width: 80px;
    position: absolute;
    opacity: 0.3;
    left: 7%;
    top: 22%;
    transform: rotate(45deg);
  }
  .main-home .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-home .content h1 {
    color: rgb(107, 68, 0);
    font-size: 2.8rem;
    font-weight: 900;
    padding: 10px 0;
  }

  .main-home .content h5 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 50px;
    padding: 10px 20px 10px 0;
  }
  .main-home .content button {
    width: 200px;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0;
    padding: 10px 10px;
  }
  .properties-cards h1 {
    font-size: 2.4rem;
  }
  /* /////////////////////////// */

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .content-img {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .content-rit button {
    display: none;
  }
  .content-rit {
    text-align: center;
  }

  /* ///////////// */

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .cards .card {
    width: 350px;
  }

  /* ////////////// */

  .review-content .content-rit h2 {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .review-content .content-rit h3 {
    font-size: 1rem;
  }
  .review-content .content-rit h3 i {
    padding: 5px;
  }

  .review-content .content-rit h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  /* /////////// */
  .footer-cont {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
/* /////////////////////////////////////////////////////////////// */

@media (max-width: 560px) {
  .logo-sec {
    display: flex;
    align-items: center;
  }
  .logo-sec a {
    text-decoration: none;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
  }

  .logo-sec a h4 {
    font-size: 1rem;
    color: #594932;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #bf965c52;
  }

  .nav-items {
    display: none;
  }

  /* .nav-items a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(136, 136, 136);
  }

  .nav-items a h4 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 10px 5px;
  } */
  .nav-form {
    display: flex;
    /* justify-content: center; */
  }

  .nav-form .sign-btn {
    width: 100px;
    font-size: 0.9rem;
    padding: 8px 5px;
  }

  /* /////////////////////////// */
  .main {
    height: 520px;
    /* height: fit-content; */
  }
  .main-home {
    height: 460px;
    /* height: max-content; */
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-gap: 10px;
    padding: 30px 0 40px;
    position: relative;
  }
  .main-home .star-1 {
    z-index: -1;
    opacity: 0.3;
    width: 80px;
    position: absolute;
    left: 20%;
    transform: rotate(45deg);
    bottom: 10%;
  }
  .main-home .star-2 {
    z-index: -1;
    width: 80px;
    position: absolute;
    opacity: 0.3;
    left: 7%;
    top: 22%;
    transform: rotate(45deg);
  }
  .main-home .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-home .content h1 {
    color: rgb(107, 68, 0);
    font-size: 1.9rem;
    font-weight: 900;
    padding: 10px 0;
  }

  .main-home .content h5 {
    font-size: 1.1rem;
    font-weight: 300;
    padding-right: 50px;
    padding: 10px 20px 10px 0;
  }
  .main-home .content button {
    width: 200px;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px 0;
    padding: 10px 10px;
  }
  .properties-cards h1 {
    font-size: 1.8rem;
  }
  /* ///////////////////////////////////////////////// */
  .properties-cards .cards {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-gap: 10px; */
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .cards .card {
    width: 300px;
  }

  .cards .card .content h3 {
    font-weight: 400;
    font-size: 1.4rem;
  }
  .cards .card .content h4 {
    font-weight: 400;
    font-size: 1rem;
    padding: 4px 0;
  }

  .cards .card .content .location {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  .cards .card .content .location img {
    width: 30px;
  }
  .cards .card .content .location p {
    color: gray;
    margin-left: 8px;
    font-weight: 200;
    font-size: 0.75rem;
  }

  .cards .card .content .prop-utilities {
    display: flex;
    padding: 5px 0;
  }

  .cards .card .content .prop-utilities p {
    color: rgb(63, 63, 63);
    margin-right: 20px;
    font-weight: 300;
    font-size: 1rem;
  }

  .cards .card .content .btns {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  .cards .card .content .btns button {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #c2a883;
    margin: 10px 0;
    padding: 4px;
  }

  /* /////////////////////////////////////////////// */

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .content-img {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .content-rit button {
    display: none;
  }
  .content-rit {
    text-align: center;
  }

  /* ///////////// */

  /* ////////////// */

  .review-content .content-rit h2 {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .review-content .content-rit h3 {
    font-size: 1rem;
  }
  .review-content .content-rit h3 i {
    padding: 5px;
  }

  .review-content .content-rit h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  .review-content {
    display: flex;
    flex-direction: column;
  }

  /* /////////// */
  .footer-cont {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
}

/* /////////////////////////////////////////////////////////////// */

@media (max-width: 460px) {
  .logo-sec {
    display: flex;
    align-items: center;
  }
  .logo-sec a {
    text-decoration: none;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
  }

  .logo-sec a h4 {
    font-size: 1rem;
    color: #594932;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: #bf965c52;
  }

  .nav-items {
    display: none;
  }

  /* .nav-items a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(136, 136, 136);
  }

  .nav-items a h4 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 10px 5px;
  } */
  .nav-form {
    display: flex;
    /* justify-content: center; */
  }

  .nav-form .sign-btn {
    width: 100px;
    font-size: 0.9rem;
    padding: 8px 5px;
  }

  /* /////////////////////////// */
  .main {
    height: 400px;
    /* height: fit-content; */
  }
  .main-home {
    height: 200px;
    /* height: max-content; */
    /* display: grid;
    grid-template-columns: 8fr 5fr;
    grid-gap: 10px; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-direction: column-reverse;
    /* padding: 30px 0 40px; */
    position: relative;
  }
  .main-home .star-1 {
    z-index: -1;
    opacity: 0.3;
    width: 80px;
    position: absolute;
    left: 20%;
    transform: rotate(45deg);
    bottom: 10%;
  }
  .main-home .star-2 {
    z-index: -1;
    width: 80px;
    position: absolute;
    opacity: 0.3;
    left: 7%;
    top: 22%;
    transform: rotate(45deg);
  }
  .main-home .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-home .content h1 {
    color: rgb(107, 68, 0);
    font-size: 1.2rem;
    font-weight: 900;
    padding: 10px 0;
  }

  .main-home .content h5 {
    font-size: 1rem;
    font-weight: 300;
    padding-right: 50px;
    padding: 10px 20px 10px 0;
  }
  .main-home .content button {
    width: 160px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 20px 0;
    padding: 8px 8px;
  }
  .properties-cards h1 {
    font-size: 1.6rem;
  }
  /* ///////////////////////////////////////////////// */
  .properties-cards .cards {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-gap: 10px; */

    margin: auto;
  }

  .cards .card {
    font-weight: 400;
    font-size: 1.4rem;
    width: 280px;
  }

  .cards .card .content h3 {
    font-weight: 400;
    font-size: 1.4rem;
  }
  .cards .card .content h4 {
    font-weight: 400;
    font-size: 1rem;
    padding: 4px 0;
  }

  .cards .card .content .location {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  .cards .card .content .location img {
    width: 30px;
  }
  .cards .card .content .location p {
    color: gray;
    margin-left: 8px;
    font-weight: 200;
    font-size: 0.75rem;
  }

  .cards .card .content .prop-utilities {
    display: flex;
    padding: 5px 0;
  }

  .cards .card .content .prop-utilities p {
    color: rgb(63, 63, 63);
    margin-right: 20px;
    font-weight: 300;
    font-size: 1rem;
  }

  .cards .card .content .btns {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  .cards .card .content .btns button {
    width: 45%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #c2a883;
    margin: 10px 0;
    padding: 4px;
  }

  /* /////////////////////////////////////////////// */

  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .content-img {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .content-rit button {
    display: none;
  }
  .content-rit {
    text-align: center;
  }

  /* ///////////// */

  /* ////////////// */

  .review-content .content-rit h2 {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .review-content .content-rit h3 {
    font-size: 1rem;
  }
  .review-content .content-rit h3 i {
    padding: 5px;
  }

  .review-content .content-rit h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  .review-content {
    display: flex;
    flex-direction: column;
  }

  /* /////////// */
  .footer-cont {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    grid-gap: 30px;
    /* grid-template-rows: repeat(4, 1fr); */
    text-align: center;
  }
}
